openapi: 3.1.0
info:
  title: Vercel REST Artifacts Projects API
  description: 'The Vercel REST API provides programmatic control of Vercel projects,

    deployments, domains, teams, and environment variables. The base URL is

    https://api.vercel.com and authentication uses a bearer token (personal

    or team access token). A full OpenAPI specification is published at

    https://openapi.vercel.sh/. This file is an API Evangelist research

    artifact for the scalable-platforms topic and captures a representative

    subset of endpoints.

    '
  version: 1.0.0
  contact:
    name: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.vercel.com
  description: Vercel production API
security:
- BearerAuth: []
tags:
- name: Projects
paths:
  /v9/projects:
    get:
      summary: List projects
      operationId: listProjects
      tags:
      - Projects
      responses:
        '200':
          description: A page of projects.
    post:
      summary: Create a project
      operationId: createProject
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Project created.
  /v1/projects/{projectId}/pause:
    post:
      summary: Pause a project
      operationId: pauseProject
      tags:
      - Projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project paused.
  /v1/projects/{projectId}/unpause:
    post:
      summary: Unpause a project
      operationId: unpauseProject
      tags:
      - Projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project unpaused.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: VercelToken
