openapi: 3.1.0
info:
  title: Vercel REST Artifacts Deployments API
  description: 'The Vercel REST API provides programmatic control of Vercel projects,

    deployments, domains, teams, and environment variables. The base URL is

    https://api.vercel.com and authentication uses a bearer token (personal

    or team access token). A full OpenAPI specification is published at

    https://openapi.vercel.sh/. This file is an API Evangelist research

    artifact for the scalable-platforms topic and captures a representative

    subset of endpoints.

    '
  version: 1.0.0
  contact:
    name: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.vercel.com
  description: Vercel production API
security:
- BearerAuth: []
tags:
- name: Deployments
paths:
  /v6/deployments:
    get:
      summary: List deployments
      operationId: listDeployments
      tags:
      - Deployments
      responses:
        '200':
          description: A page of deployments.
  /v13/deployments:
    post:
      summary: Create a new deployment
      operationId: createDeployment
      tags:
      - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                project:
                  type: string
      responses:
        '200':
          description: Deployment created.
  /v13/deployments/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get a deployment by ID or URL
      operationId: getDeployment
      tags:
      - Deployments
      responses:
        '200':
          description: A single deployment.
    delete:
      summary: Delete a deployment
      operationId: deleteDeployment
      tags:
      - Deployments
      responses:
        '200':
          description: Deletion accepted.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: VercelToken
